 
  .treino-header {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .card {
    margin-bottom: 15px;
    transition: transform 0.3s ease;
    background-color: #fafafa;
    border-color: #b9b9b9;
  }
  
  .card.completed {
    background-color: #90e2a6;
    border-color: #2b3f2f;
    text-decoration: line-through;
  }
  
  .card:hover {
    transform: scale(1.02);
  }

  .modal-body {
    max-height: 400px;
    overflow-y: auto;
  }
  
  .btn-remove {
    margin-left: 10px;
    color: red;
    cursor: pointer;
  }

